
ul li{;
    list-style:none;
    margin-left:-20px;
}
.title {
    background: linear-gradient(#ea27d3, #0ef, #ea27d3);
    height: 70px;
    text-align: center;
    color: white;
    font-size: 26px;
}

@media screen and (max-width:400px ) {
    .title {
        width: 490px;
    }
}

.content {
    margin-top: 5px;
    padding: 20px;
    font-size: 14px;
    background: linear-gradient(#ea27d3, #0ef, #ea27d3);
    height: 360px;
    color: white;
}

@media screen and (max-width:1000px ) {
    .content {
        height: 430px;
    }
}

@media screen and (max-width:400px ) {
    .content {
        width: 490px;
    }
}
.content img
{
	width: 250px;
	height: 300px;
	margin-left: 700px;
	margin-top: -320px;
}
@media screen and (max-width:1000px ) {
	.content img{

	display: none;
	}
}
.content p{
    padding:10px;
    margin-left:100px;
    width:550px;
    white-space:pre-line;
}
@media screen and (max-width:1000px ) {
    .content p{
        margin-left:-10px;
        width:480px;
        
    }
}
.sidebar {
    background: linear-gradient(#ea27d3, #0ef, #ea27d3);
    height: 460px;
    width: 280px;
    padding: 20px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

@media screen and (max-width:1000px ) {
    .sidebar {
        width: 490px;
    }
}

@media screen and (max-width:400px ) {
    .sidebar {
        width: 490px;
        height: 1400px;
    }
}
.edu {
    margin-left: 285px;
    background: linear-gradient(#ea27d3, #0ef, #ea27d3);
    width: 720px;
    padding: 10px;
    margin-top: -460px;
    color: white;
}

@media screen and (max-width:1000px ) {
    .edu {
        margin-left: 0px;
        width: 490px;
        margin-top: 20px;
    }
}

@media screen and (max-width:400px ) {
    .edu {
        margin-top: -583px;
    }
}

.inst {
    margin-left: -10px;
    color: white;
    width: 240px;
    padding: 10px;
    display: inline-block;
	margin-top: 20px;
}
@media screen and (max-width:1000px ) {
    .inst {
        width:490px;
    }
}
.skills-details {
    display: inline-block;
    width: 150px;
}

.company {
    
    margin-left: 0px;
    width: 230px;
    padding: 10px;
    display: inline-block;
    text-align: ;
    color: white;
    margin-top: -10px;
}

@media screen and (max-width:1000px ) {
    .company {
        margin-top:-10px;
        width: 260px;
    }
}

@media screen and (max-width:400px ) {
    .company {
        margin-left: 0px;
        width: 490px;
    }
}
.company ul
{
	margin-left: -20px;
}
@media screen and (max-width:1000px ) {
    .company ul {
        margin-left: -10px;
    }
}

.work {
    height:269px;
    text-align: ;
    padding: 10px;
    margin-top: -268px;
	margin-left: 285px;
	width: 720px;
	background: linear-gradient(#ea27d3, #0ef, #ea27d3);
	color: white;
}

@media screen and (max-width:1000px ) {
    .work {
        text-align:;
        margin-top: -623px;
        height: 623px;
		margin-left: 220px;
		width: 300px;padding: 0px;
    }
}
@media screen and (max-width:400px ) {
    .work {
        text-align:;
        margin-top: 20px;
        height: 500px;
    }
}


.contact {
    
    
    color:white;
    width: 280px;
	margin-top: -10px;
    padding: 10px;
    display: inline-block;
}

@media screen and (max-width:1000px ) {
    .contact {
        margin-left: 0px;
        width: 230px;
        margin-top: 0px;
    }
}

.contact ul {
    background: linear-gradient(#ea27d3, #0ef, #ea27d3);
    color: white;
    text-align: ;
    padding: 4px;
}

@media screen and (max-width:1000px ) {
    .contact h4 {
        text-align: left;
    }
}

.bottom { 
    margin-top: -320px;
    margin-left:0px;
	width: 280px;
	background: linear-gradient(#ea27d3, #0ef, #ea27d3);
	color: white;
}

@media screen and (max-width:1000px ) {
    .bottom {
        margin-left: 0px;
        width: 220px;
        margin-top: 5px;
    }
}

.footer {
    background: linear-gradient(#ea27d3, #0ef, #ea27d3);
    height: 100px;
    color: white;
    margin-top: 5px;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:1000px ) {
    .footer {
        margin-top: 5px;
    }
}

@media screen and (max-width:400px ) {
    .footer {
        width: 490px;
    }
}

.fa {
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

    .footer .fa:hover {
        color: red;
    }
